{% extends 'base.html' %}

<div>
  {% block content %}

  <div class="block">
    {% for item in message_list %}
    <p>{{item.checked}} - {{item.text}}</p>
    {% endfor %}
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="field">
      <input name="text" type="text" class="input" />
    </div>

    <input type="submit" value="Send" class="button is-primary" />
  </form>
</div>

<script>
  const url = `ws://${window.location.host}/ws/chat/`;
  const conn = new WebSocket(url);
  conn.onopen = (event) => {
    console.log("open");
    conn.send("bruh");
  };
  conn.onclose = (event) => {
    console.log("close");
  };

  conn.onmessage = (event) => {
    const { data } = event;
    console.log(data);
  };
</script>

{% endblock content %}
